# Tắt PHP trong folder (nếu bạn muốn)
php_flag engine off

# Mặc định chặn tất cả
Order Deny,Allow
Deny from all

# CHỈ cho phép tải file ZIP, PDF, DOC, DOCX
<FilesMatch "\.(zip|pdf|doc|docx)$">
    Allow from all
</FilesMatch>
